.tableBody{
	background-color: #000;
	color: #fff;
	border-radius: 20px;
}
.tableBody .row{
	width: 100%;
	margin: 10px auto; 
}
.tableBody .col-md-1:first-child{
	border-left: 2px solid #fff;
	margin-left: auto;
	border-radius: 10px 0 0 10px;
}
.tableBody .col-md-2:last-child{
	margin-right: auto;
	border-right: 2px solid #fff;
	border-radius: 0 10px 10px 0;
}
.tableBody .col-md-1,
.tableBody .col-md-2{
	/*border-right: 1px solid #fff;
	border-left: 1px solid #fff;*/
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	/*border-radius: 5px;*/
	display: flex;
    justify-content: center;
    align-items: center;
}
.imgMia{
	width: 150px;
	height: auto;
}
/***************************************/
.caja{
	border-bottom: 5px solid #000000;
	border-left: 5px solid #af1313;
	border-right: 5px solid #af1313;
}
.imgMia2{
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
	height: 170px;
}